html, body, div, span, p, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, nav {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: Arial;
	font-size: 10pt;
}

html, body{
	height: 100%;
	background-color: Grey;
	line-height: 1.1;
}

#header, #nav {
	background-color: #18453B;
}

.collab {
    color: gray;
    opacity: 0.8; /* Makes the text slightly transparent */
}

.thin {
	font-weight: 500;
}

footer, header, nav {
	display: block;
}

ul {
	list-style: none;
}

hr,ol,ul,li {
	margin-bottom: 5px;
}

/* RESET, GENERAL */
body {
	font-size: 10pt;
}

a {
	color:#18453B;
	outline: none;
	text-decoration: none;
}

a:active {outline: none;}
:focus { outline:0;}

.alignleft {float:left;}

ul + h3, p + h3, #main-col ul + p, #right-col ul + p  {
	margin-top: 5px;
	margin-bottom: 5px;
}

.clear{
	height: 20px;
}

#main-col li {
  position: relative;
}

#main-col li.conf:before {
  content: "(c)";
  position: absolute;
  left: -40px;
}

#main-col li.conf:nth-of-type(n+10):before {
	position: absolute;
  left: -40px;
}

/* PAGE-WRAP */
#page-wrap {
	min-height: 100%;
	background-color: White;
	margin-bottom: -40px;
}

/* NAV */
#nav {
	height: 25px;
	text-transform: uppercase;
	font-size: 10px;
	padding: 0 0 0 0;
	position: relative;
	text-align: center;
	font-weight: bolder;
	color: White;
}

#nav a{
	color: White;
}

.name:before{
	content: "HANZHE ZHANG";
	text-align: center;
	position: relative;
	top: 15px;
	bottom: 15px;
}

/* Page-body */
#page-body {
	padding: 20px 10px 20px 0;
}

/*Main-col*/
#main-col{
	text-align: justify;
	padding-left:5%;
	padding-right:5%;
}

#main-col h1 {
	text-transform: uppercase;
	font-size: 12pt;
	color: #18453B;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
}

#main-col h2 {
	text-transform: uppercase;
	font-size: 11pt;
	color: #18453B;
	margin-bottom: 5px;
	margin-top: 5px;
}

#main-col h3 {
	font-size: 10pt;
	font-weight: bold;
	color: #18453B;
	margin-bottom: 5px;
	margin-top: 5px;
}

#main-col ul {
	padding-left:10px;
	margin-left:20px;
	margin-right:0px;
	list-style: square;
}

#main-col ol {
	padding-left:10px;
	margin-left:20px;
	margin-right:0px;
}

#main-col a {
	color:#18453B;
	outline: none;
	text-decoration: none;
	font-weight: 600;
	font-size: 100%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.journal {
	color:#18453B;
	outline: none;
	text-decoration: none;
	font-weight: 400;
	font-size: 100%;
}

.jt {
	outline: none;
	text-decoration: none;
	font-weight: 600;
	font-size: 100%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#news {
	text-align: justify;
	padding-left:5%;
	padding-right:5%;
}

#news ul {
	padding-left:0px;
	margin-left:0px;
	margin-right:0px;
}

#news h3 {
	font-size: 10pt;
	font-weight: bold;
	color: #18453B;
	margin-bottom: 5px;
	margin-top: 5px;
}

#news ol {
	padding-left:10px;
	margin-left:20px;
	margin-right:0px;
}

#news a {
	color:#18453B;
	outline: none;
	text-decoration: none;
}

/* HEADER*/
#header {
	height: 70px;
	color: #fff;
	font-size: 30px;
	color: White;
	text-align: center;
	font-weight: bolder;
	margin: 0 auto 0 auto;
}

/* FOOTER */
#footer {
	background-color: #18453B;
	height: 40px;
	text-align: center;
}

.addr:after{
	content: "";
	color: White;
	font-weight: bold;
	top: 10px;
	position: relative;
}
